.settings {
  position: absolute;
  right: 50px;
  top: 20px;
  height: 0%;
  border-radius: 16px;
  background-color: rgb(133, 133, 133);
  box-shadow: 2px 2px 5px black;
  opacity: 0;
  transition: 0.5s;
  overflow: hidden;
}
.show {
  opacity: 0.9;
  height: 90%;
}

.settings-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.settings div {
  padding: 0 10px;
  text-align: left;
}

.settings button {
  margin: 0 10px 20px 10px;
}
